html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body {
  background: #000;
  color:#eee;
  font-size: 117%;
  margin: 0 auto;
  padding: 3rem 2rem 20rem;
  max-width: 800px;
}

h1 {
  color: gold;
  font-family: 'Limelight', sans-serif;
  font-size: 3rem;
  position: relative;
}

h1:before {
  content: "🤩";
  position: absolute;
  font-size: 2rem;
  left: -1.75rem;
  top: -1.25rem;
  transform: rotateZ(-30deg);
}

h1:after {
  content: "🍿";
  position: absolute;
  font-size: 2rem;
  left: 0;
  top: -1.75rem;
  transform: rotateZ(20deg);
}

select {
  font-size: 117%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  animation: showMovie cubic-bezier(.5,-0.63,.39,1.37) 0.5s forwards;
  transform-origin: 0 0;
  font-family: 'Limelight', sans-serif;
  font-size: 1.5rem;
  padding:  0.5rem 2rem;
  text-indent: -2rem;
}

@media screen and (min-width: 800px) {
  li {
    font-size: 3rem;
  }
}

@keyframes showMovie {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

li::before {
  content: "🎬 ";
  font-size: 1.5rem;
  line-height: 2rem;
}

.query-section {
  color: #eee;
  position: fixed;
  font-family: monospace;
  font-size: 0.66rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  border-top: 2px solid #222;
  display: flex;
}

.query-section div {
  padding: 0 1rem;
  width: 50%;
}

@media screen and (min-width: 800px) {
  .query-section {
    font-size: 1rem;
  }
}